body {
  margin: 0 auto;
  background-image: url("background-13.jpg");
  background-size: 100%;
}

.container-fluid {
  width: 100%;
}

#map {
  display: block;
  visibility: hidden;
  height: 500px;
  width: 100%;
  margin-top: 2%;
  opacity: 0.95;
  box-shadow: 0 0 12px 3px #666;
      }

.headernav {
  margin-left: 50px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

#tools {
  min-height: 30px;
}

#icon-box {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  background-color:rgba(0, 0, 0, 0.2);
}

#icon-box #car {
  margin-left: 12px;
}

.marker {
  height: 50px;
  width: 50px;
}

