body {
  margin: 0 auto;
  background-image: url("background-13.jpg");
  background-size: 100%;
}

.container-fluid {
  width: 100%;
}

#map {
  display: block;
  visibility: hidden;
  height: 500px;
  width: 100%;
  margin-top: 2%;
  opacity: 0.95;
  box-shadow: 0 0 12px 3px #666;
      }

.headernav {
  margin-left: 50px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

#tools {
  min-height: 30px;
  margin-top: 50px;
  margin-left: 50px;
}

#icon-box {
  display: inline-block;
  vertical-align: top;
}

#icon-box-right {
  display: inline-block;
  vertical-align: top;
}

i {
  color: #F0594E;
  margin-right: 25px;
}

span.glyphicon {
    font-size: 3.0em;
    color: orange;
}

.icon {
  fill: #F0594E;
  color: #F0594E;
}

.marker {
  height: 50px;
  width: 50px;
}

.marker-large {
  height: 60px;
  width: 60px;
}