<!DOCTYPE html>
<html>
	<head>
	    <title>Simple Map</title>
	    {% load static %}
	    <meta name="viewport" content="initial-scale=1.0">
	    <meta charset="utf-8">
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpMMWmE80NE0XNELZq7Pf_XKMw3WsYRf4"></script>
	    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	    <link rel="stylesheet" href="{% static 'app1/index.css' %}" media="screen" title="no title"  charset="utf-8">
	    <link rel="stylesheet" href="{% static 'app1/bootstrap/css/bootstrap.min.css' %}" media="screen" title="no title"  charset="utf-8">
	    <link rel="stylesheet" href="{% static 'app1/jquery-ui.css' %}" media="screen" title="no title"  charset="utf-8">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	    
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-light bg-faded">
	  			<a class="navbar-brand" href="#">Map Tools</a>
	  			<ul class="nav navbar-nav navbar-right">
	 				<li>
	 					<a class="navbar-brand" href="#">Register</a>
	  				</li>
	  				<li>
	  					<a class="navbar-brand" href="#">Log In</a>
	  				</li>
	  			</ul>
	  		</nav>

	    	<div id="map"></div>

			<div id="tools">
				<div id="icon-box">
					<!-- tent icon -->
	        		<img class="draggable marker" src="{% static 'app1/tent-red.png' %}">
					<!-- map marker -->
	        		<img class="draggable marker" src="{% static 'app1/mapmarker-red.png' %}">
	        		<!-- signpost -->
	        		<img class="draggable marker" src="{% static 'app1/signpost-red.png' %}">
	        		<!-- car -->
	        		<img class="draggable marker" src="{% static 'app1/car-red.png' %}">
	        	</div>
	        		<div id="icon-box-right">
	        			<!-- <span class="draggable glyphicon glyphicon-tent" aria-hidden="true"></span> -->
	        		</div>
	    		</div>
			</div>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="{% static 'app1/script.js' %}"></script>
		<script>
			$(document).ready(function(){
				function showMap(){
  					$('#map').css('visibility', 'visible');
  				}
				initMap(showMap);
			});
		</script>
	</body>
</html>